html {
  margin-left: calc(100vw - 100%);
}

body {
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

.title {
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: 50% 50%;
}

.left {
  width: 90%;
  height: 80vh;
  justify-self: flex-end;
  align-self: center;
}

.right {
  justify-self: flex-start;
  width: 90%;
  height: 80vh;
  border: 2px solid #ccc;
  background-color: #f8f8f8;
  align-self: center;
  overflow-y: auto;
  overflow-x: hidden;
}

#editor {
  width: 101%;
  height: 100.8%;
  position: relative;
  top: -2px;
  left: -10px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  background-color: #f8f8f8;
  resize: none;
  outline: none;
  color: #1d1e22;
}

#preview {
  color: #1d1e22;;
}

a {
  color: rgb(0, 89, 255);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #0059ff;
  background: #282c34;
}

.hljs-comment,
.hljs-quote {
  color: #5c6370;
  font-style: italic;
}

.hljs-doctag,
.hljs-keyword,
.hljs-formula {
  color: #ff00c8;
}

.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-deletion,
.hljs-subst {
  color: #d400ff;
}

.hljs-literal {
  color: #56b6c2;
}

.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-attribute,
.hljs-meta-string {
  color: #b0fc00;
}

.hljs-built_in,
.hljs-class .hljs-title {
  color: #ff6106;
}

.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number {
  color: #ff0000;
}

.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
  color: #008cff;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-link {
  text-decoration: underline;
}

code {
  display: inline-block;
  background-color: #222;
  color: rgba(0, 236, 253, 0.788);
  padding: .25vw .5vw;
}